.content {
    width: 224px;
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.menu-item {
    list-style: none;
    padding: 10px 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
